<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

    <!-- 외부 설정파일을 사용할 수 있다. -->
    <property resource="build.properties"/>
    
	<property name="FILE_LOG_ROOT" value="." />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M:%L - %msg%n%ex</pattern>
		</encoder>
	</appender>

	<!-- <appender name="FILE" -->
	<!-- class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
	<!-- <file>${APP_HOME}/app.log</file> -->
	<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
	<!-- 파일이 하루에 한개씩 생성된다 -->
	<!-- <fileNamePattern>sujemall-webapp.%d{yyyy-MM-dd}.log</fileNamePattern> -->

	<!-- maxHIstory 설정은 위 부분에 롤링 정책에 따라 적용되 된다고 보면된다. 위 설정데로 라면 30일이 지난 
		파일은 -->
	<!-- 삭제가 된다. -->
	
	<!-- <maxHistory>30</maxHistory> -->
	<!-- </rollingPolicy> -->

	<!-- <encoder> -->
	<!-- <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n -->
	<!-- </pattern> -->
	<!-- </encoder> -->
	<!-- </appender> -->

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.mybatis" level="ERROR" />
	<logger name="org.apache.http" level="ERROR" />

	<logger name="jdbc.sqlonly" level="DEBUG" />
	<logger name="jdbc.sqltiming" level="ERROR" />
	<logger name="jdbc.audit" level="ERROR" />
	<logger name="jdbc.resultset" level="ERROR" />
	<logger name="jdbc.resultsettable" level="ERROR" />
	<logger name="jdbc.connection" level="ERROR" />

	<if condition='property("profile").equals("real")'>
		<then>
			<!-- 설정파일에 RUN_MODE 가 SERVICE로 정의되어 있으면 로깅 레벨을 INFO로 지정 -->
			<root level="info">
				<appender-ref ref="CONSOLE" />
<!-- 				<appender-ref ref="FILE" /> -->
			</root>
		</then>
		<!-- 설정파일에 RUN_MODE 가 SERVICE로 정의되어 있지 않으면 로깅 레벨을 DEBUG 지정 -->
		<else>
			<root level="debug">
				<appender-ref ref="CONSOLE" />
<!-- 				<appender-ref ref="FILE" /> -->
			</root>
		</else>
	</if>
	
<!-- 	<root level="debug"> -->
<!-- 		<appender-ref ref="CONSOLE" /> -->
<!-- 	</root> -->

</configuration>