<!doctype html>
<html>
<head>
</head>

<body>

<table class="table">
    <thead>
        <tr>
            <th align="center">회사명</th>
            <th align="center">시가</th>
            <th align="center">배당수익률</th>
            <th align="center">등급</th>
            <th align="center">배당기록</th>
            <th align="center">기업정보</th>
        </tr>
    </thead>
    <tbody>
{{#dividenViewList}}
        <tr>
            <td align="center">{{{stockNameHtml}}}</td>
            <td align="center">{{nowVal}}원 / {{{rateHtml}}}%</td>
            <td align="center">{{dividen}}%</td>
            <td align="center">{{improveFinanceGrade}}등급({{improveFinancePoint}})</td>
            <td align="center">{{divedenRecord}}</td>
            <td align="center">
            	<a href="http://finance.naver.com/item/coinfo.nhn?code={{stockCode}}" target="_blank">분석</a> 
            	<a href="http://finance.naver.com/item/fchart.nhn?code={{stockCode}}" target="_blank">차트</a>
            </td>
        </tr>	
{{/dividenViewList}}		
    </tbody>
</table>
</body>

</html>