<!doctype html>
<html>
<head>
</head>

<body>

<table class="table">
    <thead>
        <tr>
            <th align="center">name</th>
            <th align="center">price</th>
            <th align="center">link</th>
            <th align="center">image</th>
            <th align="center">a</th>
            <th align="center">a</th>
        </tr>
    </thead>
    <tbody>
{{#list}}
        <tr>
            <td align="center">{{name}}</td>
            <td align="center">{{price.currentMaxPrice}} / <font color="red">{{mupMessage}}</font></td>
            <td align="center"><a href="http://www.gap.com/browse/product.do?vid=1&pid={{businessCatalogItemId}}" target="_blank">link</a></td>
            <td align="center"><img src="{{quicklookImage.path}}"></td>
            <td align="center">-</td>
            <td align="center">-</td>
        </tr>	
{{/list}}		
    </tbody>
</table>
</body>

</html>